html,
body,
main {
  margin: 0;
  font-family: "Lato", serif;
  height: 100%;
  background-color: #4f4557;
}

.header {
  color: #fff2d7;
  background-color: #393646;
  padding: 12px 24px;
}

.header > h1 {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  color: #ffe0b5;
  padding-bottom: 60px;
}

.nav-col {
  flex: 0 0 20%;
}

.nav-col > ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-col li a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #ffe0b5;
}

.nav-col li a:hover {
  background-color: #6d5d6e;
}

.nav-col .active-nav {
  font-weight: bold;
  color: #fff2d7;
  background-color: #6d5d6e;
}

.qna-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 0 40px;
}

.qna-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.timer {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px;
  padding-right: 12px;
  border-radius: 5px;
  font-weight: bold;

  color: #393646;
  background-color: #f8c794;
}

.quiz-container > pre {
  border: 1px solid #d8ae7e;
  padding: 10px 20px;
}

.answer-container {
}

.quiz-option input {
  display: none;
}

.quiz-option {
  margin-bottom: 10px;
}

.quiz-option > label {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 20px;
  width: 100%;

  border: 1px solid #f4eee080;
  border-radius: 6px;
}

.quiz-option > label:hover {
  border: 1px solid #f4eee0;
  border-radius: 6px;
}

.quiz-option > input:checked ~ label {
  border: 2px solid #f4eee0;
  border-radius: 6px;
}

.quiz-option input:disabled + label:hover {
  cursor: auto;
  border: 1px solid #f4eee080;
  border-radius: 6px;
}

.quiz-option input:checked:disabled + label:hover {
  border: 2px solid #f4eee0;
  border-radius: 6px;
}

.correct-option {
  border: 2px solid lime !important;
}

.incorrect-option {
  border: 2px solid red !important;
}

#explaination-container {
  padding: 0 20px;
  margin-top: 20px;
  background-color: #5E5163;
}

.qna-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.btn {
  cursor: pointer;
  color: #fff2d7;
  background-color: #393646;
  border: 1px solid #f4eee0;
  border-radius: 5px;

  padding: 12px 30px;
  margin-left: 10px;
}

.score-container {
  display: flex;
  flex-direction: column;
  flex-grow: 7;
  align-items: center;

  padding: 0 40px;
}

/* .half-circle-container {
    height: 160px;
    width: 400px;
    background-color: white;
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
}

.half-circle-progress {
    position: relative;
    height: 250px;
    width: 250px;
    background-color: orange;
    border-radius: 50% 50% 0 0;
    margin: -125px;
}

.half-circle-progress:before {
    position: absolute;
    height: 840%;
    width: 84%;
    background-color: red;
    border-radius: 50% 50% 0 0;
} */